/* src/RegistrationForm.css */
body {
  background: darkgray;
  /* Dark background */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full height */
  margin: 0;
}

.registration-form {
  background-color: rgb(0, 0, 0);
  /* Grey container */
  padding: 20px 40px;

  margin-top: 80px;  /* Adjusted padding */
  /* Shadow for depth */
  border-radius: 10px;
  width: 180%;
  box-shadow: 1px gray;
  /* Adjusted width for responsiveness */
  max-width: 400px;
  /* Max width for container */
  text-align: left;
  height: 610px;
}

.registration-form h2 {
  text-align: center;
  color: #00d2ff;
  /* Header color */
  margin-top: 2%;
  /* Reduced margin */
  font-size: 20px;
  /* Font size */
}

.form-group {
  margin-bottom: 15px;
  /* Adjusted margin */
}

.form-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;

  /* Label color */
  font-size: 14px;
  transition: color 0.3s;
  /* Smooth transition for color change */
}

.form-group label:hover {
  color: #eaededf0;
  /* Change label color on hover */
  text-decoration: underline;
  /* Optional: underline effect on hover */
}

.form-group input {
  width: 100%;
  padding: 10px;
  /* Increased padding */
  border: 1px solid #d4d1d1;
  /* Outline color */
  border-radius: 5px;
  font-size: 14px;
  /* Increased font size */
  transition: border-color 0.3s;
  /* Smooth transition for border color */
}

.form-group input:hover {
  border-color: #315dec;
  /* Change border color on hover */
}

.form-group select {
  width: 100%;
  padding: 10px;
  /* Padding for select */
  border: 1px solid #dddddd60;
  /* Outline color */
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s;
  /* Smooth transition for border color */
}

.form-group select:hover {
  border-color: #c5d1d3;
  /* Change border color on hover */
}

.btn-primary {
  width: 50%;
  /* Full width for button */
  padding: 12px;
  background: linear-gradient(to right, #00d2ff, #0072ff);
  /* Gradient background */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

/* Hover effect for button */
.btn-primary:hover {
  background: linear-gradient(to right, #0072ff, #00d2ff);
  /* Gradient hover */
  box-shadow: 0 8px 20px rgba(0, 114, 255, 0.5);
  /* Glow effect */
}

/* Button click effect */
.btn-primary:active {
  background: white;
  /* Change color on click */
  color: black;
  /* Text color on click */
  transform: scale(0.98);
}

.signin-link {
  text-align: center;
  margin-top: 15px;
  /* Reduced margin-top */
  font-size: 14px;
}

.signin-link a {
  color: #00d2ff;
  /* Link color */
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
  /* Underline on hover */
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}